@page "/secretagent"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize(Roles = "Admin, User")]
<h3>SecretAgents</h3>

<AuthorizeView Policy="CanEdit">
    <Authorized>
        <button class="btn btn-primary" @onclick="CreateAgent">Create agent</button>
    </Authorized>
</AuthorizeView>
@if (agents is null)
{
    <p>Getting agents </p>
}
else
{
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>Alias</th>
            <AuthorizeView Policy="CanEdit">
                <Authorized>
                    <th></th>
                </Authorized>
            </AuthorizeView>
        </tr>
        @foreach (var agent in agents)
        {
            <tr>
                <td>
                    @agent.Name
                </td>
                <td>
                    @agent.Alias
                </td>
                <td>
                </td>
                <AuthorizeView Policy="CanEdit">
                    <Authorized>
                        <td>
                            <button class="btn btn-primary" @onclick="() => EditAgent(agent.Id)">Edit</button>
                        </td>
                    </Authorized>
                </AuthorizeView>
            </tr>
        }
    </table>
}